/*웹 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR:wght@300;500;700;900&display=swap');


/* reset CSS */
* {margin: 0; padding: 0;}
body {font-size: 12px; font-family: 'Noto Sans KR', sans-serif;}
img {border: 0px;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}





/*헤더*/
#header_wrap {
    width: 100%; height: 130px;
    border-bottom: 3px solid #000;
    }


#header_wrap #header {
    width: 1200px; height: 130px;
    margin: 0 auto;
    overflow: hidden; position: relative;
    }


#header_wrap #header .logo {
    width: 200px; height: 50px;
    background: #ccc;
    margin-top: 35px;
    float: left;
    }


#header_wrap #header .gnb {
    width: 720px; height: 130px;
    margin-top: 45px; margin-right: 170px;
    float: right; overflow: hidden;
    }
#header_wrap #header .gnb li {
    line-height: 40px;
    float: left;
    }
#header_wrap #header .gnb li a {
    width: 180px; height: 40px;
    font-size: 16px; font-weight: 500; color: #000;
    text-align: center; line-height: 40px;
    display: inline-block;
    }
#header_wrap #header .gnb li a:hover {
    border-bottom: 5px solid #fac500;
    color: #fac500; font-weight: 1000;
    }


#header_wrap #header .sns {
    overflow: hidden; position: absolute; right: 0; top: 50px;
    }
#header_wrap #header .sns img {
    width: 35px; height: 35px;
    }
#header_wrap #header .sns li {
    margin-left: 15px;
    float: left;
    }



/*비주얼*/
#visual_wrap {
    width: 100%; height: 500px;
    background: #000;
    margin-bottom: 35px;
    }


#visual_wrap #visual {
    width: 100%; height: 500px;
    background-image: url(../img/visual.jpg); background-position: center top; background-repeat: no-repeat;
    }


#visual_wrap #visual img {
    width:1920px; height: 500px;
    margin: 0 auto;
    }



/*콘텐츠*/
#container_wrap {
    width: 100%; height: 1000px;
    padding-top: 10px; padding-bottom: 20px;
    }


#container_wrap #container {
    width: 1200px; height: 570px;
    margin: 0 auto;
    }


/*콘텐츠_1행*/
#container_wrap #container .row1 {
    width: 1200px; height: 300px;
    margin-bottom: 40px;
    overflow: hidden;
    }


#container_wrap #container .row1 li {
    margin-right: 50px;
    float: left;
    }
#container_wrap #container .row1 li:last-child {
    margin-right: 0;
    }


#container_wrap #container .row1 .row1_left {
    width: 400px; height: 300px;
    }


#container_wrap #container .row1 .row1_center {
    width: 480px; height: 300px;
    padding-left: 20px; padding-top: 85px
    }
#container_wrap #container .row1 .row1_center .r1_t1 {
    font-size: 18px; font-weight: 900; color: #000;
    line-height: 5px;
    }
#container_wrap #container .row1 .row1_center .r1_t2 {
    font-size: 14px; font-weight: 700; color: #707070;
    line-height: 20px;
    }
#container_wrap #container .row1 .row1_center .r1_t3 {
    font-size: 12px; font-weight: 300; color: #000;
    line-height: 20px;
    }


#container_wrap #container .row1 .row1_right {
    width: 200px; height: 300px;
    }


/*콘텐츠_2행*/
#container_wrap #container .row2 {
    width: 1200px; height: 300px;
    margin-bottom: 40px;
    overflow: hidden;
    }


#container_wrap #container .row2 li {
    margin-right: 50px;
    float: left;
    }
#container_wrap #container .row2 li:last-child {
    margin-right: 0;
    }


#container_wrap #container .row2 .row2_left {
    width: 200px; height: 300px;
    }


#container_wrap #container .row2 .row2_center {
    width: 480px; height: 300px;
    padding-left: 20px; padding-top: 85px;
    }
#container_wrap #container .row2 .row2_center .r2_t1 {
    font-size: 18px; font-weight: 900; color: #000;
    line-height: 5px;
    }
#container_wrap #container .row2 .row2_center .r2_t2 {
    font-size: 14px; font-weight: 700; color: #707070;
    line-height: 20px;
    }
#container_wrap #container .row2 .row2_center .r2_t3 {
    font-size: 12px; font-weight: 300; color: #000;
    line-height: 20px;
    }


#container_wrap #container .row2 .row2_right {
    width: 400px; height: 300px;
    }


/*콘텐츠 3행*/
#container_wrap #container .row3 {
    width: 1200px; height: 300px;
    margin-bottom: 40px;
    overflow: hidden;
    }


#container_wrap #container .row3 li {
    margin-right: 50px;
    float: left;
    }
#container_wrap #container .row3 li:last-child {
    margin-right: 0;
    }


#container_wrap #container .row3 .row3_left {
    width: 300px; height: 300px;
    }


#container_wrap #container .row3 .row3_center {
    width: 480px; height: 300px;
    padding-left: 20px; padding-top: 85px;
    }
#container_wrap #container .row3 .row3_center .r3_t1 {
    font-size: 18px; font-weight: 900; color: #000;
    line-height: 5px;
    }
#container_wrap #container .row3 .row3_center .r3_t2 {
    font-size: 14px; font-weight: 700; color: #707070;
    line-height: 20px;
    }
#container_wrap #container .row3 .row3_center .r3_t3 {
    font-size: 12px; font-weight: 300; color: #000;
    line-height: 20px;
    }


#container_wrap #container .row3 .row3_right {
    width: 300px; height: 300px;
    }



/*푸터*/
#footer_wrap {
    width: 100%; height:100px;
    background: #414141;
    }


#footer_wrap #footer {
    width: 1200px; height: 80px;
    margin: 0 auto; margin-top: 35px; padding-top: 20px;
    font-size: 12px; color: #acacac;
    text-align: center; line-height: 30px;
    }





/*서브 레이아웃 공통*/
#sub_visual_wrap {
    width: 100%; height: 100%;
    }


#sub_visual_wrap #sub_visual {
    width: 100%; height: 100%;
    margin: 0 auto;
    }


#sub_contents_wrap {
    width: 100%;
    }


#sub_contents_wrap #sub_contents {
    width: 1200px;
    margin: 0 auto; margin-top: 20px; margin-bottom: 20px; padding-top: 20px; padding-bottom: 20px;
    }
#sub_contents_wrap #sub_contents .sub_title {
    margin-bottom: 30px;
    font-size: 30px; font-weight: 800; color: #000; font-family: 'Gugi', cursive;
    text-align: center; line-height: 40px;
    }
#sub_contents_wrap #sub_contents .sub_title:after {
    width: 60px;
    border-bottom: 3px solid #000;
    margin: 0 auto; margin-top: 15px;
    content: "";
    display: block;
    }
#sub_contents_wrap #sub_contents .contents {
    width: 100%; min-height: 500px;
    }



/*서브 1페이지*/
#sub01_visual_wrap {
    width: 100%; height: 100%;
    background-image: url(../img/sub_v1.jpg); background-position: center top; background-repeat: no-repeat;
    }
#sub01_visual_wrap #sub01_visual {
    width: 100%; height: 250px;
    margin: 0 auto;
    }


#sub_contents_wrap #sub_contents .sub01_title {
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
    }


#sub_contents_wrap #sub_contents .sub01_con {
    width: 100%;
    background: #f2f2f2;
    overflow: hidden;
    }
#sub_contents_wrap #sub_contents .sub01_con {
    width: 1060px;
    padding: 50px 70px;
    }
#sub_contents_wrap #sub_contents .sub01_con .sub01_text {
    padding-top: 55px;
    font-size: 14px; font-weight: 300;
    line-height: 24px;
    float: left;
    }
#sub_contents_wrap #sub_contents .sub01_con img {
    float: right;
    }



/*서브 2페이지*/
#sub02_visual_wrap {
    width: 100%; height: 250px;
    background-image: url(../img/sub_v2.jpg); background-position: center top; background-repeat: no-repeat;
    }
#sub02_visual_wrap #sub02_visual {
    width: 100%; height: 250px;
    margin: 0 auto;
    }


#sub_contents_wrap #sub02_title_border {
    width: 1184px;
    border: solid #fac500; border-width: 0 8px 0 8px;
    }

#sub_contents_wrap #sub_contents .sub02_title {
    width: 1200px; height: 70px;
    margin-top: 60px; margin-bottom: 60px;
	overflow: hidden;
    }
#sub_contents_wrap #sub_contents .sub02_title li {
    float: left; line-height: 70px;
    }
#sub_contents_wrap #sub_contents .sub02_title li a {
    width: 384px; height: 70px; color: #000;
    border: solid #fac500; border-width: 0 8px 0 8px; word-break: break-all;
    font-size: 25px; font-weight: 600;
    text-align: center; line-height: 70px;
    display: inline-block;
    }
#sub_contents_wrap #sub_contents .sub02_title li a:hover {
    background: #fac500;
    font-weight: 800; color: #fff;
    }


#sub_contents_wrap #sub_contents .sub02_contents {
    width: 800px; height: 280px;
    background: #f5eee8;
    margin: 0 auto; padding: 50px 100px 50px 100px;
    overflow: hidden;
    }


/*서브 2페이지_글씨 디자인*/
#sub_contents_wrap #sub_contents .sub02_contents h1 {
    font-size: 18px; font-weight: 900;
    padding-right: 10px;
    }
#sub_contents_wrap #sub_contents .sub02_contents h2 {
    top: 2px;
    font-size: 14px; font-weight: 500; color: #999;
    line-height: 25px;
    position: relative;
    }
#sub_contents_wrap #sub_contents .sub02_contents h6 {
    font-size: 12px; font-weight: 300;
    text-align: left; line-height: 30px;
    padding: 0 30px 0 30px;
    }


/*서브 2페이지_메뉴*/
#sub_contents_wrap #sub_contents .sub02_contents .noimg {
    width: 400px;
    overflow: hidden; float: left;
    }


#sub_contents_wrap #sub_contents .sub02_contents .contitle {
    width: auto; height: auto;
    background: #e3d4c1;
    padding: 5px 10px 5px 10px; margin-bottom: 10px;
    overflow: hidden;
    }
#sub_contents_wrap #sub_contents .sub02_contents .contitle li {
    float: left;
    }

#sub_contents_wrap #sub_contents .sub02_contents .noimg .menu {
    float: left;
    }

#sub_contents_wrap #sub_contents .sub02_contents .noimg .price {
    float: right;
    }
#sub_contents_wrap #sub_contents .sub02_contents .photo {
    padding-right: 20px;
    float: right;
    }
#sub_contents_wrap #sub_contents .sub02_contents .photo h2 {
    text-align: center;
    padding-right: 10px
    }
#sub_contents_wrap #sub_contents .sub02_contents .photo img {
    height: 260px;
    }


/*서브 2페이지_이미지*/


/*서브 3페이지*/
#sub03_visual_wrap {
    width: 100%; height: 250px;
    background-image: url(../img/sub_v3.jpg); background-position: center top; background-repeat: no-repeat;
    }
#sub03_visual_wrap #sub03_visual {
    width: 100%; height: 250px;
    margin: 0 auto;
    }


#sub_contents_wrap #sub_contents .sub03_contents {
    width: 1200px; padding-top: 50px;
    padding-bottom: 50px; padding-left: 35px;
    }

/*서브 3페이지_콘텐츠 1행*/
#sub_contents_wrap #sub_contents .sub03_contents .franchise1 {
    overflow: hidden;
    }
#sub_contents_wrap #sub_contents .sub03_contents .franchise1 li {
    margin-right: 100px; margin-bottom: 40px; 
    float: left;
    }
#sub_contents_wrap #sub_contents .sub03_contents .franchise1 li:last-child {
    margin-right: 0;
    }


/*서브 3페이지_콘텐츠 2행*/
#sub_contents_wrap #sub_contents .sub03_contents .franchise2 {
    overflow: hidden;
    }
#sub_contents_wrap #sub_contents .sub03_contents .franchise2 li {
    margin-right: 100px;
    float: left;
    }
#sub_contents_wrap #sub_contents .sub03_contents .franchise2 li:last-child {
    margin-right: 0;
    }


/*순서*/
#sub_contents_wrap #sub_contents .sub03_contents .step {
    width: 300px; height: 430px;
    background: #f9eca1; border: 5px solid #f9eca1; border-radius: 30px;
    }
#sub_contents_wrap #sub_contents .sub03_contents .step img {
    border-radius: 25px 25px 0 0;
    }
#sub_contents_wrap #sub_contents .sub03_contents .step h1 {
    padding-top: 4px;
    font-size: 20px; font-weight: 900; color: #6d6615;
    text-align: center; line-height: 50px;
    }
#sub_contents_wrap #sub_contents .sub03_contents .step h1:after {
    width: 40px;
    border-bottom: 3px solid #6d6615;
    margin: 0 auto; margin-bottom: 15px;
    content: "";
    display: block;
    }
#sub_contents_wrap #sub_contents .sub03_contents .step h6 {
    font-size: 12px; font-weight: 300;
    text-align: center; line-height: 18px;
    }



/*서브 4페이지*/
#sub04_visual_wrap {
    width: 100%; height: 250px;
    background-image: url(../img/sub_v4.jpg); background-position: center top; background-repeat: no-repeat;
    }
#sub04_visual_wrap #sub04_visual {
    width: 100%; height: 250px;
    margin: 0 auto;}


#sub_contents_wrap #sub_contents .sub04_contents {
    width: 1000px;
    background: #fff; border: 1px solid #000; border-radius: 10px;
    margin: 0 auto; padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px;
    overflow: hidden;}
#sub_contents_wrap #sub_contents .sub04_contents h1 {
    font-size: 20px; font-weight: 600;
    }
#sub_contents_wrap #sub_contents .sub04_contents h2 {
    margin-top: 20px; margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px;
    font-size: 14px; font-weight: 100;
    }


/*서브 4페이지_체크박스*/
#sub_contents_wrap #sub_contents .sub04_contents .part {
    padding-bottom: 20px;
    }
#sub_contents_wrap #sub_contents .sub04_contents .part ul li {
    float: left;
    }


#sub_contents_wrap #sub_contents .sub04_contents .checks {
    font-size: 12px; font-weight: 300;
    position: relative;
    }
#sub_contents_wrap #sub_contents .sub04_contents .checks input[type="checkbox"] {
    width: 1px; height: 1px;
    margin: -1px; padding: 0;
    border: 0;
    overflow: hidden; clip:rect(0,0,0,0); position: absolute;
    }
#sub_contents_wrap #sub_contents .sub04_contents .checks input[type="checkbox"] + label {
    padding-left: 30px; padding-right: 30px;
    cursor: pointer;
    display: inline-block; position: relative;
    }
#sub_contents_wrap #sub_contents .sub04_contents .checks input[type="checkbox"] + label:before {
    width: 18px; height: 18px; left: 0; top: -2px;
    border: 1px solid #ccc; border-radius : 9px;
    text-align: center; line-height: 18px; 
    content: ''; position: absolute;
    }
#sub_contents_wrap #sub_contents .sub04_contents .checks input[type="checkbox"]:checked + label:before {
    background: #fff; border-color: #fac500;
    content: '\2714'; color: #fac500;
    }


/*서브 4페이지_텍스트박스 2단*/
#sub_contents_wrap #sub_contents .sub04_contents .textline1 {
    overflow: hidden;
    }
#sub_contents_wrap #sub_contents .sub04_contents .textline1 ul li {
    float: left;
    }


#sub_contents_wrap #sub_contents .sub04_contents .textboxleft {
    padding-right: 32px;
    position: relative;
    }
#sub_contents_wrap #sub_contents .sub04_contents .textboxleft label {
    top: 1px; left: 1px;
    color: #999;
    cursor: text;
    position: absolute;
    }
#sub_contents_wrap #sub_contents .sub04_contents .textboxleft input[type="text"] {
    width: 466px; height: 15px;
    border: 1px solid #999; border-radius: 7px;
    outline-style: 1px solid; outline-color: #fac500;
    padding: .5em .5em;
    line-height: 12px;
    }


#sub_contents_wrap #sub_contents .sub04_contents .textboxright {
    position: relative;
    }
#sub_contents_wrap #sub_contents .sub04_contents .textboxright label {
    top: 1px; left: 1px;
    color: #999;
    cursor: text;
    position: absolute;
    }
#sub_contents_wrap #sub_contents .sub04_contents .textboxright input[type="text"] {
    width: 466px; height: 15px;
    border: 1px solid #999; border-radius: 7px;
    outline-style: 1px solid; outline-color: #fac500;
    padding: .5em .5em;
    line-height: 12px;
    }


/*서브 4페이지_텍스트박스 1단*/
#sub_contents_wrap #sub_contents .sub04_contents .textbox {
    position: relative;
    }
#sub_contents_wrap #sub_contents .sub04_contents .textbox label {
    top: 1px; left: 1px;
    color: #999;
    cursor: text;
    position: absolute;
    }
#sub_contents_wrap #sub_contents .sub04_contents .textbox input[type="text"] {
    width: 980px; height: 15px;
    border: 1px solid #999; border-radius: 7px;
    outline-style: 1px solid; outline-color: #fac500;
    padding: .5em .5em;
    line-height: 12px;
    }


/*서브 4페이지_노란 테두리 텍스트*/
#sub_contents_wrap #sub_contents .sub04_contents .yellowborder {
    width: 75px;
    border: 2px solid #fac500;
    padding-left: 20px;
    }
#sub_contents_wrap #sub_contents .sub04_contents .yellowborder:hover {
    background-color: #fac500;
    font-weight: 700; color: #fff;
    }